/* geral */
:root {
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
button {
    background-color: #0095ff76;
    color: #102f5e;
    border: .1px solid white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    transition: 0.4s;
    cursor: pointer;
}
button:hover {
    background-color: #0095ffd8;
    color: #fff;
}
button:hover > i {
    color: #fff;
}
button i {
    pointer-events: none;
    font-weight: bold;
}
input, select {
    padding: 0.25rem 0.5rem;
}

.hide {
    /* display: none/; */
}

/* To_do header */

.todo_container {
    max-width: 45rem;
    margin: 3rem auto 0;
    background-color: rgba(0, 0, 0, 0.581);
    padding: 1.5rem;
    border-radius: 2rem;
}
.todo_container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid white;
}
.todo_form, #edit_form {

    padding: 1rem;
    border-bottom: 1px solid white; 
}
.todo_form p, 
#edit_form p {
margin-bottom: .5rem;
font-weight: bold;/
}
.form_control {
    display: flex;
}
.form_control input {
    margin-right: .4rem;
}
#cancel_edit_btn {
    margin-top: 1rem;
}

